#dropdown {
    margin-top: 15px;
}

/* Restaurant Tile Styles */
.tile {
    background-color: #EEEEEC;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
}

.checked {
    color: orange;
}

.restaurantName {
    font-weight: bold;
    color: #916CCF;
    font-size: 18px;
}

.rows {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather Sans', sans-serif;
}

/* Modal Styles */
.modal-card-title {
    font-weight: bold;
}

.info {
    margin-top: 10px;
    color: black;
}

.restaurantIMG {
    margin-bottom: 20px;
}

#rate {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

/* Zomato Page Link Style on Modal */
a {
    color: #916CCF;
  }