html{
    max-width: 100%;
}

body{
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;
    text-align: center;
}

.navbar{
    background-color: transparent;
}

h1{
    min-width: 66%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 72px;
}

#top-text{
    font-size: 25px;
    text-align: center;
    margin: 20px;
   
}

#input{
    margin-left: 10%;
    margin-right: 10%;
}


#field-1{
    width: 66%;
    min-width: 66%;
}

#button{
    text-align: center;
}

#sort{
    text-align: center;
   
}

/* Review Stars */
.checked {
    color: orange;
}

/* Restaurant Tile Styles */
.tile {
    background-color: #EEEEEC;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    text-align: left; 
}

.restaurantName {
    font-weight: bold;
    color: #916CCF;
    font-size: 18px;
}

.rows {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather Sans', sans-serif;
}

/* Modal Styles */
.modal-card-title {
    font-weight: bold;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
}

.info {
    margin-top: 10px;
    color: black;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
}

.restaurantIMG {
    margin-bottom: 20px;
}

#rate {
    margin-top: 5px;
    margin-bottom: 15px;
    color: black;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
}
