.tile {
    background-color: #EEEEEC;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
}

.border-left {
    border-left: black 1px solid;
}

.checked {
    color: orange;
}

.restaurantName {
    font-weight: bold;
    color: #916CCF;
    font-size: 18px;
}

.rows {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather Sans', sans-serif;
}
